<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/styles.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/post.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/code.css" />

  <script src="{{ site.baseurl }}/assets/scripts/prism.js"></script>

  <script src="{{ site.baseurl }}/assets/scripts/code.js" defer></script>
  <script src="{{ site.baseurl }}/assets/scripts/post.js" defer></script>
</head>
<body>
  <div class="content">
    <header class="header">
      <a href="{{ site.baseurl }}/">
        <img class="header-logo" src="{{ site.baseurl }}/assets/images/Wsoft_Logo_mini.png"/>
      </a>
      <h2 class="header-text">{{ page.title }}</h2>
    </header>

    {{ content }}

    <div class="task-total">
        <div class="task-heading">
            <h1>Total Time Spent:</h1>
            <strong class="task-time"></strong>
        </div>
    </div>
  </div>
</body>
</html>